{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}
{% block menu %}
{% if request.user == user_obj %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'accounts:change' %}">Редактировать</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'accounts:password_change' %}">Смена пароля</a>
    </li>
{% endif %}
{% endblock %}
{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="400" height="400" alt="user picture">
    {% endif %}
    {% if user_obj.profile.link %}
        <p>URL: {{ user_obj.profile.link }}</p>
    {% endif %}
    {% if user_obj.profile.description %}
    <p>Описание: {{ user_obj.profile.description }}</p>
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
 <p>Почта: {{ user_obj.email }}</p>
{% endblock %}